.settingsHero {
    margin: auto;
    max-width: 600px;
    max-height: 600px;
    background-color: transparent;
}

.appContainer {
    width: 90%;
    margin: 5px auto;
    min-height:100px;
    align-self: center;
}
.appContainer:hover {
    background-color: rgba(0, 153, 255, 0.20);
}

.appContainer:active {
    background-color: rgba(0, 153, 255, 0.60);
}
.appContainerSelected {
    background-color: rgba(0, 153, 255, 0.60)!important;
    border-color: darkblue!important;;
}

.appLogo {
    -webkit-text-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
    text-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
}


.appLogoText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size : 20px;
    font-weight : bolder;
    -webkit-text-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
    text-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
}



.glyphicon-1x{
    font-size: 20px;
}
.glyphicon-2x{
    font-size: 40px;
}
.glyphicon-3x{
    font-size: 60px;
}

.appProjectLogo {
    float: left;
    width : auto;
    clear: both;
    padding: 0px 0px 0px 0px;
    margin : 5px 20px 0px 0px;
}
.appInfo {
    float: left;
    width : auto;
    max-width: 60%;
    padding: 5px 5px 5px 5px;
    margin : 5px 5px 5px 5px;
}

.appDescription {
    float: left;
    width : auto;
    max-width: 100%;
    padding: 5px 5px 5px 5px;
    margin : 5px 5px 5px 5px;
    max-height : 50px;
}
.appCtrl {
    float: right;
    width : auto;
    padding: 5px 5px 5px 5px;
    margin : 5px 5px 5px 5px;
}
.appCtrl-btn {
    min-width: 50px;
    padding: 5px 5px 5px 5px;
    margin : 5px 5px 5px 5px;
    float: left;
    clear: both;
}
.appTop {
    margin-top: 10px;
    margin-bottom: 25px;
}
.autoMargin {
    margin: auto;
}

.fullWidth {
    width: 100%;
}

.projectName {
    white-space : nowrap;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paintGreen {
    color: green;
}

.paintDarkBlue {
    color: darkblue;
}

.paintTan {
    color: tan;
}
.floatRight {
    float: right;
}
.arrow_box {
    position: relative;
    background: #09f;
}
.arrow_box:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 153, 255, 0);
    border-right-color: #09f;
    border-width: 50px;
    margin-top: -50px;
}