#* @vtlvariable name="cldAppSettings" type="com.wixpress.app.dao.AppSettings" *#
#* @vtlvariable name="appInstance" type="com.wixpress.app.domain.AppInstance" *#
#* @vtlvariable name="mode" type="java.lang.String" *#
#* @vtlvariable name="projectId" type="java.lang.String" *#
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title> CloudIde Editor </title>
    <!--Document properties -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Loading CSS definitions-- <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css"/>  >

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/spinner.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/lib/font-awesome-4.1.0/css/font-awesome.css">
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">-->


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/lib/assets/css/dashboard.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../static/css/cloudide.editor.css"/>


    <link rel="stylesheet" href="../static/lib/codemirror/codemirror-4.0/lib/codemirror.css">
    <link rel="stylesheet" href="../static/lib/codemirror/codemirror-4.0/addon/display/fullscreen.css">
    <link rel="stylesheet" href="../static/lib/ui-lib/ui-lib.min.css"/>

    <!-- Hints  -->


</head>
<body>
#include("views/spinner.vm")
<!--Header (Menu)-->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="nav navbar-left">
                <span class="glyphicon glyphicon-2x-outer glyphicon-cloud appLogo paint-uilib-colors"></span>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="cldProjectName" class="navbar-brand noSelect">Loading project name...</div>
        </div>
        <!-- Show on smaller screen resolutions -->
        <div class="navbar-collapse collapse">
            #if($mode.equals("debug"))
                #include("views/editor/editorTopMenuFullscreen.vm")
            #end
            <!-- Settings and Help modals-->
            <ul class="nav navbar-nav navbar-right">
            #if($mode.equals("debug"))
                #include("views/editor/modals/editorSettingsModalButton.vm")
                #include("views/editor/modals/editorHelpModalButton.vm")
            #end
            </ul>
            #if($mode.equals("debug"))
                #include("views/editor/editorTopMenuSearch.vm")
            #end
            <ul class="nav navbar-nav navbar-right">
                #if($mode.equals("debug"))
                    #include("views/editor/modals/editorPreviewModalButton.vm")
                #end
                <li><a id="cldMenubarBttSave" onclick="_cldEditor.save()" href="#"> Save </a></li>
                <!-- Button trigger modal -->
                #if($mode.equals("debug"))
                    #include("views/tests/editor/editorTestsModalButton.vm")
                #end
            </ul>
        </div>
    </div>
</nav>
<!--Main (sidebar and editor)-->
#if($projectId.equals("") || $projectId.equals("null"))
        <!--sidebar and editor-->
        #include("views/editor/editorMultiProject.vm")
    #else
        <!--editor only-->
        #include("views/editor/editorSingleProject.vm")
#end
<!--Footer (Statusbar)-->
<div class="navbar-fixed-bottom" role="status">
    <div class="container-fluid">
        <div id="cldStatusbar" class="input-xlarge center-block text-center" placeholder="Idle">Idle</div>
    </div>
</div>

<!-- jQuery dependency-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<!-- UNUSED


                                                 <script src="../static/lib/jquery/jquery-2.1.0.js"></script>



-->

<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->


<!-- Bootstrap Imports -->
<script type="javascript" href="../static/lib/bootstrap/js/bootstrap.js"/>
<script src="../static/lib/assets/js/docs.min.js"></script>
<script src="../static/lib/assets/js/holder.js"></script>

<!-- Imports -->
<script src="../static/lib/codemirror/codemirror-4.0/lib/codemirror.js"></script>

<script src="../static/lib/codemirror/codemirror-4.0/keymap/sublime.js"></script>

<script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.42.0/js/Wix.js"></script>
<!--Wix minified <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.40.0/js/wix.min.js"></script> -->
<script src="../static/js/cloudide.editor.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/lib/jquery/jquery.base64.min.js"></script>

<!-- Runtime Imports (TODO load dynamically) -->

<!-- CodeMirror Modes -->
<script src="../static/lib/codemirror/codemirror-4.0/mode/xml/xml.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/mode/css/css.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/mode/javascript/javascript.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/mode/htmlmixed/htmlmixed.js"></script>

<!-- CodeMirror Addons: close bracket, match brackets, closetag and matchtags -->
<script src="../static/lib/codemirror/codemirror-4.0/addon/edit/closebrackets.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/edit/matchbrackets.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/edit/closetag.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/edit/matchtags.js"></script>

<!-- CodeMirror Linter -->
<!-- CDN resources
<script src="http://ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script>
<script src="https://rawgithub.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js"></script>
<script src="https://rawgithub.com/stubbornella/csslint/master/release/csslint.js"></script>
-->
<script src="../static/lib/linter/jshint.js"></script>
<script src="../static/lib/linter/jsonlint.js"></script>
<script src="../static/lib/linter/csslint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/lint/javascript-lint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/lint/css-lint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/lint/json-lint.js"></script>
<link rel="stylesheet" href="../static/lib/codemirror/codemirror-4.0/addon/lint/lint.css">
<script src="../static/lib/codemirror/codemirror-4.0/addon/lint/lint.js"></script>







<!-- CodeMirror Fullscreen -->

<script src="../static/lib/codemirror/codemirror-4.0/addon/display/fullscreen.js"></script>

<!-- CodeMirror Hint -->
<link rel="stylesheet" href="../static/lib/codemirror/codemirror-4.0/addon/hint/show-hint.css">
<script src="../static/lib/codemirror/codemirror-4.0/addon/hint/show-hint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/hint/anyword-hint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/hint/javascript-hint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/hint/css-hint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/hint/html-hint.js"></script>

<!-- CodeMirror Fold -->
<script src="../static/lib/codemirror/codemirror-4.0/addon/fold/foldcode.js"></script>
<link rel="stylesheet" href="../static/lib/codemirror/codemirror-4.0/addon/fold/foldgutter.css">
<script src="../static/lib/codemirror/codemirror-4.0/addon/fold/foldgutter.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/fold/brace-fold.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/fold/xml-fold.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/fold/markdown-fold.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/fold/comment-fold.js"></script>

<!-- CodeMirror Comments -->
<script src="../static/lib/codemirror/codemirror-4.0/addon/comment/comment.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/comment/continuecomment.js"></script>

<!-- CodeMirror Dialog -->
<link rel="stylesheet" href="../static/lib/codemirror/codemirror-4.0/addon/dialog/dialog.css">
<script src="../static/lib/codemirror/codemirror-4.0/addon/dialog/dialog.js"></script>


<!-- CodeMirror Tern -->
<link rel="stylesheet" href="../static/lib/codemirror/codemirror-4.0/addon/tern/tern.css">
<script src="../static/lib/codemirror/codemirror-4.0/addon/tern/tern.js"></script>

<script src="http://marijnhaverbeke.nl/acorn/acorn.js"></script>
<script src="http://marijnhaverbeke.nl/acorn/acorn_loose.js"></script>
<script src="http://marijnhaverbeke.nl/acorn/util/walk.js"></script>
<script src="http://ternjs.net/doc/demo/polyfill.js"></script>
<script src="http://ternjs.net/lib/signal.js"></script>
<script src="http://ternjs.net/lib/tern.js"></script>
<script src="http://ternjs.net/lib/def.js"></script>
<script src="http://ternjs.net/lib/comment.js"></script>
<script src="http://ternjs.net/lib/infer.js"></script>
<script src="http://ternjs.net/plugin/doc_comment.js"></script>


<!-- Modals loading (partially) on demand and by configuration-->
    #if($mode.equals("debug"))
        #include("views/tests/editor/editorTestsModal.vm")
    #end
    #if($projectId.equals(""))
        #include("views/editor/modals/editorCreateNewProjectModal.vm")
        #include("views/editor/modals/editorProjectSettingsModal.vm")
        #include("views/editor/modals/editorDuplicateProjectModal.vm")
    #end
    #include("views/editor/modals/editorSettingsModal.vm")
    #include("views/editor/modals/editorHelpModal.vm")
    #include("views/editor/modals/editorPreviewModal.vm")

<!-- Initialization of CloudIde 'Editor view' -->
<script type="text/javascript">
    //Create and bind global
    var settings = $!{cldAppSettings};
    var debugMode = "$!{mode}";
    var projectId = "$!{projectId}";
</script>
</body>
</html>